/*


.app-container {
    text-align: center;
    padding: 20px;
}

h1 {
    color: #fff0f0;
    margin-bottom: 14px;
}

.app-container {
    background-color: #333;
}

.tracking-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.tracking-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 300px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.tracking-item span {
    font-weight: bold;
    /*   overflow: hidden;*/

/**}
/*


.tracking-item select {
    padding: 5px;
}

p {
    color: red;
}

select {
    width: fit-content;
    overflow: hidden;
}
*/

body {
    margin: auto;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    overflow: auto;
    animation: gradient 15s ease infinite;
    background-size: 400% 400%;
    background-attachment: fixed;
}

@keyframes gradient {
    0% {
        background-position: 0% 0%;
    }

    50% {
        background-position: 100% 100%;
    }

    100% {
        background-position: 0% 0%;
    }
}

.wave {
    background: rgb(255 255 255 / 25%);
    border-radius: 1000% 1000% 0 0;
    position: fixed;
    width: 200%;
    height: 12em;
    animation: wave 10s -3s linear infinite;
    transform: translate3d(0, 0, 0);
    opacity: 0.8;
    bottom: 0;
    left: 0;
    z-index: -1;
}

.wave:nth-of-type(2) {
    bottom: -1.25em;
    animation: wave 18s linear reverse infinite;
    opacity: 0.8;
}

.wave:nth-of-type(3) {
    bottom: -2.5em;
    animation: wave 20s -1s reverse infinite;
    opacity: 0.9;
}

@keyframes wave {
    2% {
        transform: translateX(1);
    }

    25% {
        transform: translateX(-25%);
    }

    50% {
        transform: translateX(-50%);
    }

    75% {
        transform: translateX(-25%);
    }

    100% {
        transform: translateX(1);
    }
}

.line-container {
    display: flex;
    align-items: center;
    height: 70vh;
    /* Center the line vertically */
    position: relative;
    margin-left: 300px;
}

.explain {
    display: flex;
    flex-direction: column;
    position: fixed;
    left: 0%;
    top: 0%;
}

.circle {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #ccc;
    margin: 0 5px;
    border: 2px solid #000;
    cursor: pointer;

    /* Circle border */
}

.marked {
    background-color: green;
}

p {
    font-size: 28px;
    padding: 12px;
    font-weight: 600;
}

/* 
 h1 {
    letter-spacing: 1px;

}
 */