.campaign-list {
    text-align: left;

}

.campaign-item {
    background: whitesmoke;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 4px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.campaign-item h3 {
    margin: 0 0 10px 0;
}

.campaign-item p {
    margin: 0;
}