.container {
    overflow: auto;
    position: absolute;
}

th,
td {
    border: 1px solid white;
    color: blue;
    padding: 8px;
    font-size: 24px;
    color: blue;
}


th {
    color: green;
    font-size: 29px;
}