.Card {
    background-color: #f4f4f984;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    max-width: 500px;
    margin: 20px auto;
    box-shadow: 6px 6px 6px 8px rgb(0, 0, 0);
    position: absolute;
    left: 38%;
    top: 50%;
}

.requests {
    padding: 20px;
}

.requests h1 {
    margin-bottom: 20px;
    color: red;

}

.requests table {
    width: 100%;
    border-collapse: collapse;
    background-color: black
}

.requests th,
.requests td {
    border: 1px solid white;
    color: blue;
    padding: 8px;
    text-align: left;
    font-size: 24px;
    color: blue;

}

.requests th {
    background-color: b;
    color: green;
    font-size: 29px;
}

.pen {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15px;
    height: 15px;
    background-color: rgb(255, 59, 59, 0.753);
    border-radius: 15px;
    color: white;
    position: absolute;
    top: 55%;
    left: 22%;
    padding: 5px;
    cursor: pointer;

}

.pen1 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15px;
    height: 15px;
    background-color: rgb(255, 59, 59, 0.753);
    border-radius: 15px;
    color: white;
    position: absolute;
    top: 54.5%;
    left: 43.9%;
    padding: 5px;
    cursor: pointer;
}

.pen2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15px;
    height: 15px;
    background-color: rgb(255, 59, 59, 0.753);
    border-radius: 15px;
    color: white;
    position: absolute;
    top: 55%;
    left: 65.5%;
    padding: 5px;
    cursor: pointer;
}

.pen3 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15px;
    height: 15px;
    background-color: rgb(255, 59, 59, 0.753);
    border-radius: 15px;
    color: white;
    position: absolute;
    top: 68%;
    left: 21.9%;
    padding: 5px;
    cursor: pointer;
}

.pen4 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15px;
    height: 15px;
    background-color: rgb(255, 59, 59, 0.753);
    border-radius: 15px;
    color: white;
    position: absolute;
    top: 68%;
    left: 43.9%;
    padding: 5px;
    cursor: pointer;
}

.pen5 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15px;
    height: 15px;
    background-color: rgb(255, 59, 59, 0.753);
    border-radius: 15px;
    color: white;
    position: absolute;
    top: 68.1%;
    left: 65.6%;
    padding: 5px;
    cursor: pointer;
}

.pen6 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15px;
    height: 15px;
    background-color: rgb(255, 59, 59, 0.753);
    border-radius: 15px;
    color: white;
    position: absolute;
    top: 80%;
    left: 22%;
    padding: 5px;
    cursor: pointer;
}

.pen7 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15px;
    height: 15px;
    background-color: rgb(255, 59, 59, 0.753);
    border-radius: 15px;
    color: white;
    position: absolute;
    top: 80%;
    left: 43.6%;
    padding: 5px;
    cursor: pointer;
}

.pen8 {
    position: absolute;
    left: 65.5%;
    top: 80%;
    background-color: rgb(255, 59, 59, 0.753);
    border-radius: 15px;
    color: white;
    display: flex;
    width: 15px;
    height: 15px;
    padding: 5px;
    cursor: pointer;

}