/*


.app-container {
    text-align: center;
    padding: 20px;
}

h1 {
    color: #fff0f0;
    margin-bottom: 14px;
}

.app-container {
    background-color: #333;
}

.tracking-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.tracking-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 300px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.tracking-item span {
    font-weight: bold;
    /*   overflow: hidden;*/

/**}
/*


.tracking-item select {
    padding: 5px;
}

p {
    color: red;
}

select {
    width: fit-content;
    overflow: hidden;
}
*/

body {
    margin: auto;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;

}



.line-container {}

.shape {}

.circle {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #ccc;
    margin: 0 5px;
    border: 2px solid #000;
    cursor: pointer;
}

.marked {
    background-color: green;
}

p {
    font-size: 28px;
    padding: 12px;
    font-weight: 600;
}