/* src/Campaign.css */
.campaign-container {
    background-color: #1a1a1a;
    color: #00bfff;
    border: 1px solid #333;
    border-radius: 8px;
    padding: 20px;
    max-width: 600px;
    margin: 20px auto;
    box-shadow: 0 4px 8px rgba(200, 83, 83, 0.1);
}

.campaign-container h1 {
    background-color: #1a1a1a;
    color: #00bfff;
    font-size: 29px;
    font-weight: bold;
}

.campaign-title {
    font-size: 2em;
    color: #333;
    margin-bottom: 10px;
    text-align: center;
}

.campaign-description {
    font-size: 1.4em;
    color: #00bfff;
    margin-bottom: 20px;
    text-align: center;

}


.campaign-details {
    background-color: #1a1a1a;
    color: #00bfff;
    border-radius: 8px;
    padding: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.campaign-details h2 {
    font-size: 1.5em;
    color: #00bfff;
    text-align: center;
}

.campaign-details ul {
    list-style: none;
    padding: 0;
}

.campaign-details li {
    font-size: 1.2em;
    color: #666;
    margin-bottom: 5px;
}