.card-container {
    width: 500px;
    height: 700px;
    border: 2px solid transparent;
    font-size: 14px;
    font-family: inherit;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 20px;
    box-sizing: border-box;
    border-radius: 16px;
    background-size: 200% 100%;
    animation: gradient 5s ease infinite;
    margin: auto;
    margin-top: -2%;
    direction: rtl;
}


.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background-color: rgba(17, 24, 39, 1);
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 90%;
    height: 90%;
    color: white;
}

.title2 {
    font-weight: 700;
    font-size: 24px;
    margin-bottom: 40px;
}

.description {
    border-top: 2px solid white;
}

.description h2 {
    font-size: 30px;
}

.title1 {
    width: 100%;
    text-align: right;
    text-transform: uppercase;
    font-size: 32px;
    border-bottom: 2px solid white;
}

.description ul {
    font-size: 18px;
}

.card-submit {
    width: 70%;
    height: 40px;
    border-radius: 10px;
    border: none;
    transition: background-color 0.3s ease;
    cursor: pointer;
}

.card-submit:hover {
    background-color: rgb(56, 68, 95);

}