.container {
    width: 100vw;
    height: fit-content;
    display: flex;
    justify-content: start;
    direction: rtl;
}

.sideBar_holder {
    width: 20vw;
    height: 100vh;
}

.charts_holder {
    width: 80vw;
    height: 500px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.pie-chart {
    background-color: rgba(17, 24, 39, 1);
    width: 48%;
    height: 50%;
    display: flex;
    color: rgba(17, 24, 39, 1);
    border-radius: 10px;
    background-color: #ffffffda;
}

.pie-data {
    list-style: square;
}

.blue {
    font-size: 18px;
}

.blue::marker {
    color: rgb(255, 4, 0);
    font-size: 25px;
}

.orange {
    font-size: 18px;
}

.orange::marker {
    color: rgb(251, 148, 64);
    font-size: 25px;
}

.green {
    font-size: 18px;
}

.green::marker {
    color: rgb(98, 253, 116);
    font-size: 25px;
}

.line-chart {
    /*   background-color: rgba(17, 24, 39, 1); */
    background-color: #ffffffda;
    width: 50%;
    height: 50%;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    color: black;
    font-size: 18px;
    border-radius: 10px;
    padding: 36px;
    margin: 15px;
}

.e7s2yat {
    color: rgba(17, 24, 39, 1);
    text-align: center;
    font-size: 26px;
}