.about {
    padding: 10px;
    display: flex;
    gap: 50px;
    margin-top: 50px;
}

h1 {
    color: red;
    text-transform: capitalize;
    text-align: center;
}

p {
    font-size: 28px;
    margin-top: 30px;
    direction: rtl;
    letter-spacing: 1.3px;
    text-align: center;
    align-self: center;
}

img {
    width: 400px;
    border-radius: 12px;
}