.content {
    margin-left: 350px;
    padding: 60px;
}


.Donrs {
    position: absolute;
    font-size: 19px;
    left: 5%;
    top: 22.78%;
    color: white;
    z-index: 2;
}

.pay {
    position: absolute;
    font-size: 19px;
    left: 5%;
    top: 33%;
    color: white;
    z-index: 2;
}

.status {
    position: absolute;
    font-size: 19px;
    left: 10%;
    top: 11.8%;
    color: white;
    z-index: 2;
}

.info {
    position: absolute;
    font-size: 19px;
    left: 7.5%;
    top: 43.5%;
    color: white;
    z-index: 2;
}

.event {
    position: absolute;
    font-size: 19px;
    left: 6.5%;
    top: 17.5%;
    color: white;
    z-index: 2;
}

.takers {
    position: absolute;
    font-size: 19px;
    left: 6.5%;
    top: 27.5%;
    color: white;
    z-index: 2;
}

.Faccount {
    position: absolute;
    font-size: 19px;
    left: 12%;
    top: 38.5%;
    color: white;
    z-index: 2;

}

.steps {
    position: absolute;
    font-size: 19px;
    left: 4%;
    top: 6.7%;
    color: white;
    z-index: 2;
}



.App {
    text-align: center;
    margin: 20px;
}

.cont {
    display: flex;
    flex-direction: row;
}