body {
  background: red;
  animation: mymove 2s infinite;
}

@keyframes mymove {
  from {
    background-color: rgba(104, 115, 231, 0.991);
  }

  to {
    background-color: rgba(29, 29, 224, 0.824);
  }
}